[Unit]
Description=Torn.Space Discord bot.

[Service]
Type=simple
WorkingDirectory=/opt/TornBot
ExecStart=/usr/bin/pnpm start

[Install]
WantedBy=multi-user.target
